<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href='{{url_for("static", filename="style.css")}}'>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p style="color: red;">{{msg}}</p>
                {% endfor %}
            {% endif%}
        {% endwith %}
        <h1>Zadej svůj kód</h1>
        <form method="POST">
            <input type="password" id="userID" name="userID" style="border: 1px solid #555;">
            <button type="submit">Přihlásit</button>
        </form>
    </body>
</html>
